body{
  place-items:flex-start;
}

#root {
  width:500px;
  height:500px;
}

.container{
  display: flex;
  align-items: center;
  justify-content:center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  height:100%;
  min-height: 200px;
}

.rgb{
  background-color: white;
  color: black;
}